<header class="navbar navbar-default navbar-static-top navbar-branded" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "JSforce Sample App", root_path, { :class => 'navbar-brand navbar-foundation-logo' } %>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" onclick="javascript:jsforce.browser.login();">Connect Salesforce</a>
        </li>
      </ul>
    </nav>
  </div>
</header>