<% provide(:title, 'Analytics') %>

<div class="query-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>

    <div class="container">
      <div style="margin-bottom: 20px;">
        <h1>Analytics</h1>
        <button type="button" class="btn btn-primary" data-bind="click: clickSearchBtn">Search</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: listItems">
          <tr>
            <td>
              <div data-bind="text: result_id"></div>
            </td>
            <td>
              <div data-bind="text: result_name"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">

  var conn = null;

  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    jsforce.browser.on('connect', function(c) {
      conn = c;
    });
  });

  // View Model
  function viewModel() {
    var self = this;
    self.listItems = ko.observableArray([]);
  
    // SearchBtn
    self.clickSearchBtn = function() {
      self.listItems.removeAll();
      // get recent reports
      conn.analytics.reports(function(err, reports) {
        if (err) {
          swal('ERROR!', err, 'error');
          return false;
        }

        for (var i = 0; i < reports.length; i++) {
          self.listItems.push({
             result_id: reports[i].id
            ,result_name: reports[i].name
          });  
        }

        ko.applyBindings(viewModel);
      });
    };
  };

  // Model
  ko.applyBindings(new viewModel());
</script>
<% end %>