<% provide(:title, 'Apex REST') %>

<div class="query-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>

    <div class="container">
      <div style="margin-bottom: 20px;">
        <h1>Analytics</h1>
        <button type="button" class="btn btn-primary" data-bind="click: clickSearchBtn">Search</button>
        <button type="button" class="btn btn-primary" data-bind="click: clickCreateBtn">Create</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: listItems">
          <tr>
            <td>
              <div data-bind="text: result_id"></div>
            </td>
            <td>
              <div data-bind="text: result_name"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">

  var conn = null;

  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    jsforce.browser.on('connect', function(c) {
      conn = c;
    });
  });

  // View Model
  function viewModel() {
    var self = this;
    self.listItems = ko.observableArray([]);
  
    // SearchBtn
    self.clickSearchBtn = function() {
      self.listItems.removeAll();

      var body = { title: 'Get Account', num : 1 };
      conn.apex.get("/Account/", body, function(err, res) {
        if (err) { return console.error(err); }
        console.log("response: ", res);

        for (var i = 0; i < res.length; i++) {
          self.listItems.push({
             result_id: res[i].id
            ,result_name: res[i].name
          });  
        }

        ko.applyBindings(viewModel);
      });
    };

    // CreateBtn
    self.clickCreateBtn = function() {
      // body payload structure is depending to the Apex REST method interface.
      var body = { title: 'hello', num : 1 };
      conn.apex.post("/Account/", body, function(err, res) {
        if (err) { return console.error(err); }
        console.log("response: ", res);
        // the response object structure depends on the definition of apex class
      });
      /*
      var body = { title: 'Create Account', num : 1 };
      conn.apex.post("/Account/", body, function(err, res) {
        if (err) { return console.error(err); }
        console.log("response: ", res);
        alert(res[0].Name);
      });
      */
    };
  };

  // Model
  ko.applyBindings(new viewModel());
</script>
<% end %>