<div class="query-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>

    <div class="container">
      <h1>Describe</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: listItems">
          <tr>
            <td>
              <div data-bind="text: meta_label"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">

  var conn = null;

  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    jsforce.browser.on('connect', function(c) {
      conn = c;
    });
  });

  // View Model
  function viewModel() {
    var self = this;
    self.searchKey = '';
    self.listItems = ko.observableArray([]);
  
    // SearchBtn
    self.listItems.removeAll();
    conn.sobject("Account").describe(function(err, meta) {
      if (err) {
        return console.error(err);
      }
      for (var i = 0; i < res.length; i++) {
        self.listItems.push({
           meta_label: meta.label
        });  
      }

      ko.applyBindings(viewModel);
    );
  };

  // Model
  ko.applyBindings(new viewModel());
</script>
<% end %>