<div class="query-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>

    <div class="container">
      <div style="margin-bottom: 50px;">
        <h1>Describe</h1>
        <button type="button" class="btn btn-primary" data-bind="click: clickSearchBtn">Search</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Label</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: listItems">
          <tr>
            <td>
              <div data-bind="text: meta_label"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">

  var conn = null;

  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    jsforce.browser.on('connect', function(c) {
      conn = c;
    });
  });

  // View Model
  function viewModel() {
    var self = this;
    self.listItems = ko.observableArray([]);
  
    // SearchBtn
    self.clickSearchBtn = function() {
      self.listItems.removeAll();
      conn.sobject("Account").describe(function(err, meta) {
        if (err) {
          return console.error(err);
        }
        console.log(meta.fields);
        console.log(meta.fields[0].Object.label);

        for (var i = 0; i < meta.fields.length; i++) {
          self.listItems.push({
            meta_label: meta.fields[i].Object.label
          });  
        }

        ko.applyBindings(viewModel);
      });
    };
  };

  // Model
  ko.applyBindings(new viewModel());
</script>
<% end %>