<div class="home">
  <div class="container">
    <h1>
      Hello! <span data-bind="text: userName"></span>
    </h1>
  </div>
</div>

<% content_for :scripts do %>

<script type="text/javascript">
  $(document).ready(function(){
    jsforce.browser.on('connect', function(conn) {
      var query = 'SELECT Id, Name FROM User WHERE Id = ' + '\'' + conn.userInfo.id + '\'' + ' LIMIT 1';
      conn.query(query, function(err, res) {
        if (err) {
          return console.error(err);
        }
        
        var homeViewModel = {
          userName: res.records[0].Name + '!!'
        };

        ko.applyBindings(homeViewModel);
      });
    });
  });
</script>

<% end %>