<div class="container">
  <h1>
    Hello! <span id="user-name" data-bind="foreach: user_name">Yoshikawa</span> !!
  </h1>
</div>

<% content_for :scripts do %>

<script type="text/javascript">
  $(document).ready(function(){

    function HomeModel() {
      var self = this;
      self.user_name = ko.observableArray([]);
      console.log(self);

      jsforce.browser.on('connect', function(conn) {
        var query = 'SELECT Id, Name FROM User WHERE Id = ' + '\'' + conn.userInfo.id + '\'' + ' LIMIT 1';
        conn.query(query, function(err, res) {
          if (err) {
            return console.error(err);
          }

          console.log(res);
        });
      });
    };

    ko.applyBindings(new HomeModel());
  });
</script>

<% end %>