<div class="container">
  <h1>
    Hello! <span data-bind="text: userName"></span>
  </h1>
</div>

<% content_for :scripts do %>

<script type="text/javascript">
  $(document).ready(function(){
    console.log('-- Home★ --');

    jsforce.browser.on('connect', function(conn) {
      var query = 'SELECT Id, Name FROM User WHERE Id = ' + '\'' + conn.userInfo.id + '\'' + ' LIMIT 1';
      conn.query(query, function(err, res) {
        if (err) {
          return console.error(err);
        }
        console.log(res);
        console.log(res.records[0]);
        console.log(res.records[0].Name);
        /*
        var homeViewModel = {
          userName: 'Yoshikawa' + '!!'
        };

        ko.applyBindings(new homeViewModel());
        */
      });
    });
  });
</script>

<% end %>