<% provide(:title, 'Home') %>

<% content_for :library do %>
  <!-- your library -->
<% end %>

<div class="home-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>
    <div class="container">
      <h1>
        Hello! <span data-bind="text: userName"></span>
      </h1>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">

  var conn = null;

  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    // Get User
    jsforce.browser.on('connect', function(c) {

      conn = c;

      var query = 'SELECT Id, Name FROM User WHERE Id = ' + '\'' + conn.userInfo.id + '\'' + ' LIMIT 1';
      conn.query(query, function(err, res) {
        if (err) {
          swal('ERROR!', err, 'error');
          return false;
        }
        
        var viewModel = {
          userName: res.records[0].Name + '!!'
        };

        ko.applyBindings(viewModel);
      });
    });
  });
</script>
<% end %>