<div class="welcome">
  <div class="jumbotron jumbotron-inverse jumbotron-center" id="content">
    <div class="container">
      <h1>Hello Developers</h1>
      <p>Rails &amp; JSforce Sample Application</p>
      <p>
        <button onclick="javascript:jsforce.browser.login();" class="btn btn-large btn-primary">Connect Salesforce</button>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <ul>
        <li>勉強用につくったRails &amp; JSforceのサンプルアプリです。</li>
        <li>Connect SalesforceボタンでSalesforceに接続できます。</li>
        <li>
          コードはGitHubに公開中です。
          <a  href="https://github.com/tyoshikawa1106/rails-jsforce-sample" target="_blank">
            https://github.com/tyoshikawa1106/rails-jsforce-sample
          </a>
        </li>
        <li>GitHubのコードを動かすにはSalesforce側で接続アプリケーションの設定が必要です。</li>
      </ul>
    </div>
  </div>
</div>