<div class="query-page">
  <!-- main -->
  <div id="sb-site" class="main-color">
    <%= render 'menu_header' %>

    <div class="container">
      <div style="margin-bottom: 50px;">
        <fieldset>
          <h1 class="header-line">Account Search</h1>
          <div class="form-group">
            <label>Account Name</label>
            <input type="text" class="form-control" data-bind="value:searchKey"></input>
          </div>
        </fieldset>
        <button type="button" class="btn btn-primary" data-bind="click: clickSearchBtn">Search</button>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Account Number</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: listItems">
          <tr>
            <td>
              <div data-bind="text: account_name"></div>
            </td>
            <td>
              <div data-bind="text: account_number"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- sidebar -->
  <%= render 'sidebar' %>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function(){
    // Slidebar
    $.slidebars();

    var conn = jsforce.browser.on('connect', function(conn) {
      console.log('connect! = ' + conn.userInfo.id);
      return conn;
    });

    console.log(conn);
    console.log('connect!!');
  });

  // View Model
  function viewModel() {
    var self = this;
    self.searchKey = '';
    self.listItems = ko.observableArray([]);
  
    // SearchBtn
    self.clickSearchBtn = function() {

      console.log('OK');

      // Get Account
      jsforce.browser.on('connect', function(conn) {
        console.log('connect = ' + conn.userInfo.id);

        var query = 'SELECT Id,Name,AccountNumber FROM Account';
        //if (self.searchKey) {
          //query += ' WHERE Name LIKE ' + '\'' + self.searchKey + '%' + '\''
        //}
        query += ' ORDER BY Name ASC';
        query += ' LIMIT 200';

        console.log(query);

        conn.query(query, function(err, res) {
          if (err) {
            return console.error(err);
          }
          
          console.log(res.recoreds.length);
          for (var i = 0; i < res.recoreds.length; i++) {
            self.listItems.push({
               account_name: res.records[i].Name
              ,account_number: res.records[i].AccountNumber
            });  
          }

          ko.applyBindings(viewModel);
        });
      });
    };

  };

  // Model
  ko.applyBindings(new viewModel());
</script>
<% end %>