.welcome-page {
  ul li {
    margin: 10px 0;
  }
}

.home-page {
  h1 {
    font-size: 50px;
  }
}

.query-page {

}

.sidebar {
  ul li {
    padding: 10px;
    list-style:none;
    font-size: 20px;
  }

  a,
  a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.header-menu {
  padding-top: 60px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #8BC34A;

  a,
  a:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.main-color {
  background-color: #f0f1f2 !important;
}

.header-line {
  padding-bottom: 5px;
  border-bottom: solid 1px #cfd0d2;
}